* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #e0e0e0;
}

.container {
    position: relative;
    border-radius: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    background: #e0e0e0;
    box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.clock::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    background-color: #212529;
    border-radius: 50%;
    z-index: 10;
}

.clock span {
    position: absolute;
    inset: 20px;
    color: #4b535b;
    text-align: center;
    /* 360 / 12 = 30deg */
    transform: rotate( calc(30deg * var(--i)) );
}

.clock span b {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    transform: rotate( calc(-30deg * var(--i)) );
}

.circle {
    position: absolute;
    border: 1px solid #171c20;
    box-shadow: 1px 1px 20px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9;
}

.circle::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 8px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--crl);
    box-shadow: 0 0 25px var(--crl), 0 0 20px var(--crl);
}

.circle i {
    height: 50%;
    background-color: var(--crl);
    transform-origin: bottom;
    transform: scale(0.5);
}

.circle:nth-child(3) i {
    width: 5px;
}

.circle:nth-child(2) i {
    width: 10px;
}

.circle:nth-child(1) i {
    width: 15px;
}

.circle.c1 {
    width: 260px;
    height: 260px;
}

.circle.c2 {
    width: 210px;
    height: 210px;
}

.circle.c3 {
    width: 160px;
    height: 160px;
}

